body {
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    background-color: #aaccc1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

header {
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}
#content img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

#content {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 10px;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;
    height: 100vh;
    margin-bottom: 1rem;
}

#lightbox {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#boximg {
    max-width: 80%;
    max-height: 80%;
}